typeset -U path
path=( "{{ target_home }}/Projects/codeberg/quantumfate/scripts/bin" $path )
path=( "{{ target_home }}/Projects/codeberg/quantumfate/security-and-privacy/bin/" $path )
path=( "{{ target_home }}/.local/bin" $path )
path=( "/usr/bin/obsidian" $path )
{%- if devenv %}
path=( "{{ target_home }}/go/bin" $path )
path=( "{{ target_home }}/.luarocks/bin" $path )
path=( "{{ target_home }}/.cargo/bin" $path )
{%- endif %}

export PROTON_PASS_LINUX_KEYRING="dbus"
