[Unit]
Description=Audio device switch notifications
After=pipewire.service wireplumber.service
Requires=pipewire.service

[Service]
ExecStart={{ projects_dest.hypr }}/bin/audio-notify.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
