# OS / editor
.DS_Store
*.swp
*.swo
.direnv/

# Lua
luac.out
*.luac

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
dist/
build/
*.egg-info/

# Ansible
*.retry
.vault_pass
collections/
*.vault
.ansible
