[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
collections_path     = collections
host_key_checking    = False
retry_files_enabled  = False
result_format        = yaml
display_skipped_hosts = False
interpreter_python   = auto_silent
# For secrets_backend: vault, point this at your password file:
# vault_password_file = ~/.config/ansible/vault-pass
