export XDG_CURRENT_DESKTOP=niri
export XDG_SESSION_DESKTOP=niri
export XDG_PICTURES_DIR=$HOME/Pictures
export XDG_SCREENSHOTS_DIR=$HOME/Pictures/screens
export GSK_RENDERER=gl
export GBM_BACKEND=nvidia-drm
export __GLX_VENDOR_LIBRARY_NAME=nvidia
export LIBVA_DRIVER_NAME=nvidia
export NVD_BACKEND=direct
