[Unit]
Description=Clipboard image watcher (cliphist)
After=graphical-session.target
BindsTo=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
