[Unit]
Description=CopyQ Service
After=graphical-session.target
BindsTo=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/copyq
Restart=on-failure

[Install]
WantedBy=graphical-session.target
