[Unit]
Description=Geoclue Demo Agent
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/lib/geoclue-2.0/demos/agent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
