[Unit]
Description=Shelly UI Service (unified arch package manager)
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/shelly-ui


Restart=on-failure

[Install]
WantedBy=graphical-session.target
