[Desktop Entry]
Name=Sway (uwsm-managed)
Comment=An i3-compatible Wayland compositor managed by UWSM
Exec=uwsm start -e -D sway:wlroots sway.desktop
TryExec=sway
DesktopNames=sway;wlroots
Type=Application
