[Unit]
Description=Encrypt $XDG_STATE_HOME to an age blob
Documentation=https://codeberg.org/quantumfate/scripts

[Service]
Type=oneshot
ExecStart={{ target_home }}/Projects/codeberg/quantumfate/scripts/bin/,state-backup
Environment=STATE_BACKUP_RECIPIENTS_FILE={{ state_backup_recipients_file }}
Environment=STATE_BACKUP_DEST={{ state_backup_dest }}
